app/code/community/Phoenix/
app/code/community/Cm/
app/code/core/
app/design/adminhtml/default/default/etc/
app/design/adminhtml/default/default/layout/*
app/design/adminhtml/default/default/locale/
app/design/adminhtml/default/default/template/
!app/design/adminhtml/default/default/layout/sm_megamenu.xml
!app/design/adminhtml/default/default/layout/sm_productlabel.xml
!app/design/adminhtml/default/default/layout/sm_slider.xml
app/design/install/
app/design/frontend/base/
app/design/frontend/rwd/default/
app/design/frontend/default/
app/etc/modules/Enterprise_*
app/etc/modules/Mage_All.xml
app/etc/modules/Mage_Api.xml
app/etc/modules/Mage_Api2.xml
app/etc/modules/Mage_Authorizenet.xml
app/etc/modules/Mage_Bundle.xml
app/etc/modules/Mage_Captcha.xml
app/etc/modules/Mage_Centinel.xml
app/etc/modules/Mage_Compiler.xml
app/etc/modules/Mage_Connect.xml
app/etc/modules/Mage_CurrencySymbol.xml
app/etc/modules/Mage_Downloadable.xml
app/etc/modules/Mage_ImportExport.xml
app/etc/modules/Mage_LoadTest.xml
app/etc/modules/Mage_Oauth.xml
app/etc/modules/Mage_PageCache.xml
app/etc/modules/Mage_Persistent.xml
app/etc/modules/Mage_Weee.xml
app/etc/modules/Mage_Widget.xml
app/etc/modules/Mage_XmlConnect.xml
app/etc/modules/Phoenix_Moneybookers.xml
app/etc/modules/Cm_RedisSession.xml
app/etc/applied.patches.list
app/etc/config.xml
app/etc/enterprise.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/local.xml
app/.htaccess
app/locale/
app/Mage.php
cron.php
cron.sh
downloader/
errors/
favicon.ico
get.php
includes/
index.php
index.php.sample
/install.php
js/blank.html
js/calendar/
js/enterprise/
js/extjs/
js/firebug/
js/flash/
js/index.php
js/jscolor/
js/lib/
js/mage/
js/prototype/
js/scriptaculous/
js/spacer.gif
js/tiny_mce/
js/varien/
media/catalog/product/cache/
lib/3Dsecure/
lib/Apache/
lib/flex/
lib/googlecheckout/
lib/.htaccess
lib/LinLibertineFont/
lib/Mage/
lib/PEAR/
lib/phpseclib/
lib/Varien/
lib/Zend/
lib/Cm/
lib/Credis/
lib/Magento/
media/captcha/
media/catalog/
media/custom_options/
media/customer/
media/dhl/
media/downloadable/
media/email/
media/enterprise/
media/import/
media/tmp/
media/wrapping/
media/wysiwyg/
media/xmlconnect
skin/adminhtml/
skin/frontend/base/
skin/frontend/default/
skin/frontend/rwd/default/
skin/frontend/rwd/sm/images/
skin/frontend/rwd/sm/scss/
skin/install/
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
mage
api.php
nbproject/
pear
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php
var/
.htaccess
.htaccess.sample
.idea/